<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css" />
		<style type="text/css">
			.ng-invalid.ng-dirty{
				border-color: #FA787E;
			}
			.ng-valid.ng-dirty{
				border-color: #78FA89;
			}
		</style>
	</head>
	<body ng-controller="StoreController as store">
		<div class="list-group-item" ng-repeat="product in store.products">
			<h1>{{product.name}}</h1>
			<section ng-controller="PanelController as panel">
				<ul class="nav nav-pills">
					<li ng-class="{ active: panel.isSelected(1) }">
						<a href ng-click="panel.selectTab(1)">Description</a>
					</li>
					<li ng-class="{ active: panel.isSelected(2) }">
						<a href ng-click="panel.selectTab(2)">Specifications</a>
					</li>
					<li ng-class="{ active: panel.isSelected(3)}">
						<a href ng-click="panel.selectTab(3)">Reviews</a>
					</li>
				</ul>
				<div class="panel" ng-show="panel.isSelected(1)">
					<h4>Description</h4>
					<p>{{product.description}}</p>
				</div>
				<div class="panel" ng-show="panel.isSelected(2)">
					<h4>Specifications</h4>
					<blockquote>None yet</blockquote>
				</div>
				<div class="panel" ng-show="panel.isSelected(3)">
					<h4>Reviews</h4>
					<blockquote ng-repeat="review in product.reviews">
						<b> Stars: {{review.stars}}</b>
						{{review.body}}
						<cite>by: {{review.author}}</cite>
					</blockquote>
					<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
						<blockquote>
							<b>Stars: {{reviewCtrl.review.stars}}</b>
							{{reviewCtrl.review.body}}
							<cite>by: {{reviewCtrl.review.author}}</cite>
						</blockquote>
						<select ng-model="reviewCtrl.review.stars" required>
							<option value="1">1 Star</option>
							<option value="2">2 Star</option>
							<option value="3">3 Star</option>
							<option value="4">4 Star</option>
							<option value="5">5 Star</option>
						</select>
						<textarea ng-model="reviewCtrl.review.body" required></textarea>
						<label>by:</label>
						<input type="email" ng-model="reviewCtrl.review.author" required />
						<input type="submit" value="Submit" />
						{{reviewForm.$valid}}
					</form>
				</div>
			</section>
			<br/>
		</div>
		<script type="text/javascript" src="libs/js/angular.min.js"></script>
		<script type="text/javascript" src="libs/js/app.js"></script>
	</body>
</html>